{
  "extends": [
    "recommended/react-native",
    "prettier",
    "prettier/react",
    "prettier/standard"
  ],
  "rules": {
    "no-invalid-this": "off",
    "no-unmodified-loop-condition": "off"
  }
}
